<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white; font-size: 16px;">Loading... please wait</p>
</ngx-spinner>

<section>
    <div class="container1">
        <div class="left">
            <div class="banner-top">
                <div class="text-center">
                    <!-- <img src="assets/images/karnatakalogo.png" width="44px" alt=""> -->
                    <h5 class="mt-2">Hello World Test App</h5>
                </div>
                <div class="mt-4 desk-view">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="banner-top2">
                <h5 class="mb-4 grey text-center">Log in to Portal</h5>
                <form #loginForm="ngForm">

                    <div class="row">
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput required type="text" #userName="ngModel" usernameOnly minlength="6" maxlength="20" placeholder="Enter Username" [(ngModel)]="username" name="username">
                            </mat-form-field>
                            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger mt--1">
                                <div *ngIf="userName.errors.required">Username is required</div>
                                <div *ngIf="userName.errors.minlength">Username must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput required #Password="ngModel" [type]="hide ? 'password' : 'text'" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" minlength="8" maxlength="20" placeholder="Enter Password" [(ngModel)]="password" name="password">
                                <mat-icon class="password-eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="text-danger mt--1">
                                <div *ngIf="Password.errors.required">Password is required</div>
                                <div *ngIf="Password.errors.minlength">Password must be at least 8 characters</div>
                                <div *ngIf="Password.errors.pattern && !Password.errors.minlength">Invalid Password</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" mat-raised-button class="btn btn-primary btn-block" (click)="login()">Log in</button>
                        <!-- <div *ngIf="showError" class="mat-h3 text-danger">Fill Username and Password</div> -->
                    </div>
                </form>
                <!-- <div class="mt-5 text-center">
                    <p class="mt-4 f-12">Will be used in accordance with our <a (click)="policy()" class="text-primary">Privacy Policy.</a>
                    </p>
                </div> -->
                <div class="mt-5 text-center">
                    <!-- <img src="assets/images/partners.png" width="180px" alt=""> -->
                    <p class="f-14">Version: {{version}}</p>
                </div>

            </div>

        </div>
    </div>
</section>